
// Font
$base-font-size: 12px;
$base-line-height: 26px;
$base-font-family: "Open Sans" ,"Lucida Sans Unicode", "Lucida Grande", sans-serif;

// Grid
$total-columns: 6;

// Colors
$base-color: #5980b3;
$base-color-light: lighten($base-color, 20%);
$base-color-dark: darken($base-color, 20%);
$secondary-color: #e6e6e6;

// Border
$round-border-radius: 3px;
