<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= data['sitename'] %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="stylesheets/normalize.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">

        <script src="javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header id="header" class="animate-all">
          <div class="header">
            <h1>Studio F</h1>
          </div>
          <nav id="menu">
            <h2>Main Menu</h2>
            <div class="avatar">
              <img src="http://www.gravatar.com/avatar/888339de9e7a88688b6acb30d33e66cd?s=100" alt="蒼時弦也" class="ellipse" />
            </div>
            <ul>
              <li><a href="#about" title="關於我" data-page="#about" class="active"><i class="icon-48 about">About</i>About</a></li>
              <li><a href="#skills" title="我的技能" data-page="#skills"><i class="icon-48 skills">Skills</i>Skills</a></li>
              <li><a href="#portfolio" title="作品展示" data-page="#portfolio"><i class="icon-48 portfolio">Portfolio</i>Portfolio</a></li>
              <li><a href="#contact" title="聯絡方式" data-page="#contact"><i class="icon-48 contact">Contact</i>Contact</a></li>
            </ul>
          </nav>
        </header>

        <%= yield %>

        <footer id="footer" class="hide">
          <nav id="mini-menu" class="container">
            <h2>Footer Menu</h2>
            <ul>
              <li><a href="#about" title="關於我" data-page="#about" class="active"><i class="icon-32 about">About</i></a></li>
              <li><a href="#skills" title="我的技能" data-page="#skills"><i class="icon-32 skills">Skills</i></a></li>
              <li><a href="#portfolio" title="作品展示" data-page="#portfolio"><i class="icon-32 portfolio">Portfolio</i></a></li>
              <li><a href="#contact" title="聯絡方式" data-page="#contact"><i class="icon-32 contact">Contact</i></a></li>
            </ul>
          </nav>
        </footer>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="javascripts/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
