<div id="wrapper">
  <!-- About -->
  <%= render :partial => "about" %>
  <!-- Skills -->
  <%= render :partial => "skills" %>
  <!-- Portfolio -->
  <%= render :partial => "portfolio" %>
  <!-- Contact -->
  <%= render :partial => "contact" %>
</div>
