#header {
  background: $secondary-color;

  width: 100%;
  height: auto;

  border-bottom: 1px solid darken($secondary-color, 5%);

  .header {
    background-color: $base-color;
    height: 125px;

    @include box-shadow(rgba(black, 0.1) 0 0 0 3px);

    @include background-image(linear-gradient(rgba(white, 0.1), rgba(black, 0.1)));

    @include clearfix;

    h1 {
      display: block;

      height: 100%;
      margin: 0;
      padding: 0;

      background: image-url("logo.png") no-repeat center;

      text-indent: -999999px;
    }
  }

  &.hide {
    position: absolute;
    top: -100%;

    width: 100%;
    height: auto;
  }
}
