#portfolio {
  img {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }

  header {
    width: 100%;

    background: rgba(black, 0.7);
    color: white;

    position: fixed;
    bottom: 50px;
    left: 0;

    z-index: 99;

    text-align: right;

    @include rhythm(0, 0.5, 0.5, 0);

    h2, p {
      margin-right: 1em;
    }
  }

  .list {
    @include leader;
  }

  .portfolio {
    @include span-columns(6);
    @include trailer;

    @include at-breakpoint(480px 12) {
      @include span-columns(6);
      @include nth-omega(2n);
    }
  }

  .thumb {
    position: relative;

    width: 100%;
    max-width: 320px;

    padding-top: 9 / 16 * 100%;
  }
}

#work-view {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background: rgba(black, 0.5);

  img {
    top: 50%;
  }

  &.hide {
    top: -100%;
  }
}
