$menu-icon: about skills portfolio contact;
$icon16: link;
$icon32: link;

$icons: sprite-map("icons/*.png");

%icon {
  background-image: sprite-url($icons);

  text-indent: -999999px;
  font-size: 0;

  display: block;

  vertical-align: middle;
}

.icon-16 {
  @extend %icon;

  width: 16px;
  height: 16px;

  // Normal Icon
  @each $icon in $icon16 {
    &.#{$icon} {
      background-position: sprite-position($icons, #{$icon}-16);
    }
  }

}

.icon-32 {
  @extend %icon;

  width: 32px;
  height: 32px;

  // Menu Icons
  @each $icon in $menu-icon {
    &.#{$icon} {
      margin: 0 auto;

      background-position: sprite-position($icons, #{$icon}-32);

      .active &, &:hover {
        background-position: sprite-position($icons, #{$icon}-active-32);
      }
    }
  }

  // Normal Icon
  @each $icon in $icon32 {
    &.#{$icon} {
      background-position: sprite-position($icons, #{$icon}-32);
    }
  }

}

.icon-48 {
  @extend %icon;

  width: 48px;
  height: 48px;

  // Menu Icons
  @each $icon in $menu-icon {
    &.#{$icon} {
      margin: 0 auto;

      background-position: sprite-position($icons, #{$icon}-48);

      .active &, &:hover {
        background-position: sprite-position($icons, #{$icon}-active-48);
      }
    }
  }

}
