#menu {
  position: relative;
  height: 175px;

  h2 {
    display: none;
  }

  .avatar {
    position: absolute;
    top: -50px;
    left: 50%;

    margin-left: -50px;

    img {
      width: 100px;
      height: 100px;

      @include box-shadow(rgba(black, 0.1) 0 0 0 3px);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-top: 50px * 1.5;

    text-align: center;
    font-size: 0;

    li {
      display: inline-block;

      margin-right: 1em;

      font-size: $base-font-size;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;

    color: rgba($base-color-dark, 0.5);

    &.active, &:hover {
      color: $base-color-dark;
    }
  }
}

#mini-menu {
  ul {
    margin: 0;
    padding: 0;

    //text-align: right;
    li {
      margin-top: 9px;
      margin-right: 1em;

      display: inline-block;
    }
  }
}
