
// Border
.ellipse {
  @include border-radius(50%);
}

.round {
  @include border-radius($round-border-radius);
}

// List
ul {
  &.inline {
    @include leader;
    @include trailer;

    padding: 0;

    li {
      @include adjust-font-size-to($base-font-size);

      display: inline-block;
      margin-right: 1em;
    }
  }
}

// Animate
.animate-all {
  height: auto;
  @include transition(1s);
}

// Hide
.hide {
  overflow: hidden;
  height: 0;
  @include opacity(0);
}

// Small Header
.small-header-inner {
  background: $secondary-color;

  border-bottom: 1px solid darken($secondary-color, 5%);

  @include clearfix;
}

// Label
.label {

  padding: 0.5em;

  color: white;
  background: $base-color-dark;

  @include trailer(0.5);

  &.small {
    @include trailer(0);
  }
}
